<div id="chooseEmpresa" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecionar empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="cancelEmpresa()" *ngIf="empselected != 0">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Selecione a empresa desejada:</p>
        <div class="spinnerCenter" [hidden]="api.listEmpresas.length > 0">
          <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </div>

        <div class="list-group" [hidden]="api.listEmpresas.length <= 0">
          <a class="list-group-item list-group-item-action"
          *ngFor="let emp of api.listEmpresas"
          (click)="objCtrl.preSelect = emp.id"
          [ngClass]="{'active': emp.id == empselected, 'preselect': objCtrl.preSelect == emp.id}">
            {{emp.name}}
            <span class="badge badge-selected" [hidden]="emp.id != empselected">Selecionado</span>
          </a>
        </div>

      </div><!--modal-body-->
      <div class="modal-footer">
        
        <button type="button" *ngIf="empselected != 0" class="btn btn-red" data-dismiss="modal"
        (click)="cancelEmpresa()"><i class="fas fa-times"></i> Cancelar</button>

        <button type="button" [disabled]="objCtrl.preSelect==0" (click)="confirmEmpresa(objCtrl.preSelect)"
        class="btn btn-green" data-dismiss="modal"><i class="fas fa-check"></i> Salvar</button>

      </div>
    </div>
  </div>
</div>