/* #######################################
              Variables
########################################*/
$colors: (
	_lggray:#eaedf2,
	_gray: 	#d2d8e3,
	_dkgray:#8392a9,
  
	// colors theme
	default:#4150f3,
	red: 	  #E0163E,
	green: 	#34CDB9,

	// colors system (PrimeNG like: toast)
	_success:	#4CD964,
	_info:		#5AC8FA,
	_warn:		#FFCC00,
	_danger: 	#FF2D55
);

$toasts:(
  success: map-get($colors, _success),
  info: map-get($colors, _info),
  warn: map-get($colors, _warn),
  error: map-get($colors, _danger)
);



/* #######################################
                Loopers
########################################*/
@each $key, $value in $colors {
  .text-#{$key}{
    color: #{$value} !important;
	}
	.btn-#{$key}{
		background: #{$value};
		@if (lightness($value) > 70) {
			color: black !important;
		} @else {
			color: white !important;
		}

		&:hover{
			background: darken($value,3%);
		}
		&:focus{
			box-shadow: 0 0 0 0.2rem rgba($value, .2) !important;
		}
  }

  // badge
  .badge-#{$key}{
    background: $value;
  }
  
  // checkbox custom BS4
  .custom-checkbox-#{$key} {
    padding-left: 0px;
    height: 28px;

    *{cursor: pointer;}

    &.no-text{
      padding: 0;
      .custom-control-label{
        width: auto;
        height: 26px;
        padding: 13px !important;
      }
    }

    // text
    label.custom-control-label{
      font-size: 14px;
      line-height: 28px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: 32px;
    }

    // icon check
    .custom-control-label::before,
    .custom-control-label::after{
      width: 20px;
      height: 20px;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
    .custom-control-label::before{
      background-color: transparent;
      border: 2px solid map-get($colors, _gray);
    }
    
    
    .custom-control-input:checked ~ .actived{
      background: rgba($value,.15);
      border-radius: 10px;
      width: calc(100% + 20px);
      height: calc(100% + 10px);
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      z-index: 0;
      pointer-events: none;
    }
    
    .custom-control-input:checked ~ .custom-control-label::before{
      background: $value;
      background-color: $value !important;
      border-color: $value !important;
    }
    .custom-control-input:focus ~ .custom-control-label::before{box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba($value, .25);}
  }

}






/* #######################################
        Placeholders / Extends
########################################*/
%icon-fa {
  font-family: 'Font Awesome 5 Free';
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
%far{
  @extend %icon-fa;
  font-weight: 100;
}
%fas{
  @extend %icon-fa;
  font-weight: 900;
}
%fab{
  @extend %icon-fa;
  font-family: 'Font Awesome 5 Brands' !important;
}


%btn-bs4{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}