/* #######################################
                Card's
########################################*/
.card{
    border: none !important;
    border-radius: 10px !important;
    margin-bottom: 15px;
    position: relative;
    
    &:hover > a{
        border-radius: 10px !important;
        box-shadow: 0px 12px 88px -25px map-get($colors, _dkgray);
    }

    &.noregisters{
      pointer-events: none;
      box-shadow: 0px 0px 50px -15px map-get($colors, red);
      
      [class*="display-"]{
        color: map-get($colors, red);
        text-align: center;
        font-size: 25px;
        margin: 10px 0;
      }
    }

    .card-body{
        padding: 10px !important;

        .title-center{
            font-size: 14px;
            margin-bottom: 0px;
            line-height: 100px;
            color: map-get($colors, default);
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;

            &:hover{
                color: darken(map-get($colors, default), 3);
            }
        }

    }

    &.card-full{
        padding: 15px;
    }
}




@keyframes flash{
    0%,100%{opacity:.8;}
    50%{opacity: 1;}
}
@keyframes focus{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    40%{
        transform: scale(1.6);
        opacity: .2;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
    
}


/* #######################################
            Filter Header
########################################*/
.filter{
    margin-top: 20px;
    margin-bottom: -15px;

    [class*='col-']{
        // padding-left: 8px;
        // padding-right: 8px;

        > div{
            background: darken(desaturate(map-get($colors, default),16%),6%);
            padding: 0 8px;
            border-radius: 8px;
            margin-bottom: 8px;
        
            .form-group{
                margin-right: -8px;
                width: calc(100% - 35px);
                margin-bottom: 0px;
            }
        }
    }
    .bloked{
      cursor: not-allowed !important;
      span.data{
        color: lighten(map-get($colors, default),15%) !important;
      }
    }
    span{
      line-height: 36px;
      color: #fff;
      &.data{
        color: lighten(map-get($colors, default),30%) !important;
        float: right;
      }
    }
    .btn-group{
      padding: 0px !important;
      background: transparent !important;
      width: 100%;
      display: flex;

      button{
        background: map-get($colors, _lggray);
        border-color: map-get($colors, _lggray);
        color: map-get($colors, default);
        width: 100%;
        &:hover{
          background: darken(map-get($colors, _lggray),10%);
          border-color: darken(map-get($colors, _lggray),10%);
        }
        &:active{
          background: darken(desaturate(map-get($colors, default),16%),6%) !important;
          border-color: darken(desaturate(map-get($colors, default),16%),6%) !important;
          color: #fff;
        }
      }
    }

    .select, .ipt-date{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .select{
      .data{
        width: 80%;

        select{
          background: transparent !important;
          border: none !important;
          color: lighten(map-get($colors, default),15%) !important;
          &:hover,&:focus{
            box-shadow: none !important;
            color: #fff !important;
          }
          option{
            color: #495057 !important;
          }
        }
      }
    }

    .ipt-date {
      p-calendar .ui-calendar {
        input {
          text-align: right;
          color: lighten(map-get($colors, default), 30%) !important;
          padding-right: 3px;
  
          &::-webkit-input-placeholder {
            color: lighten(map-get($colors, default), 15%) !important;
          }
        }
        input,
        button {
          background: transparent;
          border: none;
          color: #fff;
        }
      }
    }
}



/* #######################################
          ViewList / Lista Lote
########################################*/
.viewlist{
    background: map-get($colors, _lggray);
    border-radius: 10px;
    padding: 0 7px;
    min-height: 130px !important;
    height: 130px;
    overflow: hidden;
    box-shadow: inset 0px -33px 49px -44px map-get($colors, _dkgray);

    .mainlist{
        margin-top: 4px;
        margin-bottom: 4px;

        >div{
            text-align: center;
            cursor: default;

            > span{
                padding: 2px 10px;
                border-radius: 8px;

                &:hover{background: darken(map-get($colors, _lggray), 3%);}
            }

            .naoapontado{
                color: map-get($colors, _dkgray);
                i{opacity: 0;}
            }
            .perfeito{
                color: map-get($colors, green);
            }
            .defeito{
                color: map-get($colors, red);
            }
        }
    }

}


/* #######################################
            Consulta Lote
########################################*/
.perfeitos,.defeitos{
    [class*='col-']{
        padding-right: 5px;
        padding-left: 5px;
    }
}
.btn-group.picklist {
    margin-bottom: 4px;
    width: 100%;

    >:nth-child(2),.text{
        pointer-events:none;
        overflow: hidden;
        text-overflow: ellipsis;
        direction: rtl;
    }
}


.perfeitos{
    .content-color{}
}
.defeitos{
    .btn-group.picklist{
        .btn:not(:nth-child(2)){
            box-shadow: inset 0px 0px 0px 30px rgba(0,0,0,.1);
        }
        // >:nth-child(2),.text{background: map-get($colors,red);}
        .btn-group{
            button{
                border-radius: 0 10px 10px 0 !important;
                &:after{
                    content: "\f107";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    border: none !important;
                    width: 10px;
                    top: 2px;
                    position: relative;
                }
            }

        }
    }

    .content-color{
        //background: rgba(map-get($colors,red),.1);
    }
}

.content-color{
    padding: 5px 10px;
}




/* #######################################
              Drop Down
########################################*/
.dropdown-menu{
    background: map-get($colors, _lggray) !important;
    border-color: map-get($colors, _gray) !important;
    border-radius: 8px !important;
    right: 0 !important;
    left: auto !important;
    top: 5px !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;


    right: -3px !important;
    top: 32px !important;
    transform: none !important;

    &:after,&:before{
        content: '';
        position: absolute;
        top: -6px;
        right: 12px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid map-get($colors, _lggray) !important;
    }
    &:before{
        border-bottom: 7px solid map-get($colors, _gray) !important;
        border-left-width: 8px;
        border-right-width: 8px;
        right: 10px;
        top: -7px;
    }

    .dropdown-item{
        border-radius: 0px !important;

        &:first-child{border-radius: 8px 8px 0 0 !important;}
        &:last-child{border-radius: 0 0 8px 8px !important;}

        &:hover,&:focus{
            cursor: pointer;
            background: map-get($colors, _gray);
        }
        &.active{
            background: map-get($colors, red);
            color: lighten(map-get($colors, red), 40%) !important;
        }
    }
}






/* #######################################
              List-Group
########################################*/
.list-group{
  .list-group-item{
    text-transform: capitalize;
    cursor: pointer;

    &:first-child{border-radius: 10px 10px 0 0;}
    &:last-child{border-radius: 0 0 10px 10px;}

    &:hover{
      background: map-get($colors, _gray);
    }
    &.active{
      background: map-get($colors, default);
      border-color: map-get($colors, default);
      color: #fff !important;
    }

    .badge-selected{
      background: darken(desaturate(map-get($colors, default),16%),6%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      font-weight: 100;
      letter-spacing: 1px;
      border-radius: 8px;
    }
  }
}