@import "./variables";

.ui-widget-overlay{
  background: rgba(
    darken(map-get($colors, _dkgray),15%)
  ,.8);
}





/* #######################################
                Calendar
########################################*/
p-calendar {
  width: 100%;

  .ui-calendar {
    width: 100%;

    input {
      width: calc(100% - 32px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }
    button {
      color: #fff;
      background-color: map-get($colors, default);
      border-color: map-get($colors, default);

      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;

      // icon
      span {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        color: #fff;
        &:before {
          content: "\f133";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


/* #######################################
            Modal DatePicker
########################################*/

.ui-calendar .ui-datepicker {
  background: #fff;
  padding: 0;
  border-radius: 12px 12px 10px 10px;
  box-shadow: 0px 0px 50px -17px rgba(0, 0, 0, 0.7);

  a {
    cursor: pointer;
  }
  * {
    color: map-get($colors, _dkgray);
  }

  .ui-datepicker-header {
    background: map-get($colors, default);
    padding: 0px;
    border-radius: 10px 10px 0 0;

    * {
      color: #fff;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      top: 50%;
      transform: translateY(-50%);
      border-radius: 6px;
      height: 30px;
      width: 30px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.1);
      }
      span {
        transform: translate(-50%, -50%);
        margin: 0 auto;
        font-size: 22px;
        line-height: initial;
      }
    }
  }

  .ui-datepicker-calendar {
    &thead,
    &tbody {
      display: table;
    }
    span {
      &.ui-state-disabled {
        color: map-get($colors, _gray) !important;
      }
    }

    td,
    th {
      width: 30px !important;
      height: 30px !important;
      font-size: 1px;
      line-height: 5px;
    }
    a,
    span {
      line-height: 15px !important;
      width: 30px;
      height: 30px;
    }
    a {
      border-radius: 6px;
      &:hover {
        background: rgba(map-get($colors, _gray), 0.4);
      }
    }
    .ui-state-highlight {
      background: rgba(map-get($colors, _gray), 0.5);
      color: map-get($colors, default) !important;
    }
    .ui-state-active {
      background: map-get($colors, default);
      color: #fff !important;
      &:hover {
        background: darken(map-get($colors, default), 25);
      }
    }
  }

  .ui-timepicker {
    border-radius: 0 0 10px 10px;
    padding: 0;
    border-top: 1px solid map-get($colors, _lggray);

    > div {
      margin: 0 auto;
      width: 25%;

      a {
        > span {
          color: map-get($colors, _dkgray);
          font-size: 22px;
        }
        &:hover > span {
          color: map-get($colors, default);
        }
      }
    }
  }
}

// add icons AwesomeFonts
// .ui-datepicker-next, .ui-datepicker-prev,
.ui-datepicker .pi {
  @extend %icon-fa;
  font-weight: 900;

  &.pi-chevron-up:before {content: "\f106";}
  &.pi-chevron-down:before {content: "\f107";}
  &.pi-chevron-left:before {content: "\f104";}
  &.pi-chevron-right:before {content: "\f105";  }
}

/* #######################################
                 TOAST
########################################*/
$lightProfundidade: 10%;
$lightProfundidade2: 20%;

p-toastitem {

  & *{
    user-select: none;
  }

  .ui-toast-message {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 15px !important;
    overflow: initial !important;

    @each $key, $value in $toasts {
      &.ui-toast-message-#{$key} {
        &,.ui-toast-message-text-content:before {
          background: #{$value};
        }
        .ui-toast-message-content:before{
          background: darken($value, $lightProfundidade);
        }
        .ui-toast-message-content:after {
          background: darken($value, $lightProfundidade2);
        }
        @if $key == error {
          &,.ui-toast-summary {
            color: #fff !important;
          }
        }
      }
    }

    .ui-toast-message-text-content {
      margin: 0;
      margin-left: 25px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -25px;
        top: -7px;
        height: 30px;
        width: calc(100% + 25px);
        z-index: -1;
      }
      .ui-toast-summary {
        padding: 0px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .ui-toast-message-content {
      .ui-toast-icon.pi {
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
        opacity: .6
      }
      .ui-toast-close-icon{
        top: 7px;
        right: 10px;
        color: #000;
        opacity: .3;
        z-index: 5;
        &:hover{opacity: .5;}
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        height: 30px;
      }
      &:before {
        top: -5px;
        width: 90%;
        z-index: -1;
        opacity: .35;
      }
      &:after {
        top: -10px;
        width: 80%;
        z-index: -2;
        opacity: .25;
      }
    }
  }
}

/* #######################################
            Dialog / Modal
########################################*/
p-confirmDialog {
  .ui-confirmdialog{
    .ui-dialog-content {
      padding: 10px 15px !important;
    }

    .ui-confirmdialog-message{
      display: inline-block;
      width: calc(100% - 50px);
    }


    .ui-dialog-footer{
      display: flex;
      flex-direction: row-reverse;
      

      button{
        border: none;
        color: #fff;
        @extend %btn-bs4;
        
        .pi{
          margin-top: 0;
          height: auto;
          transform: translateY(-50%);
          left: 7px;
          width: 14px;
          text-align: center;
        }
        .ui-button-text{
          padding: 1px 0 1px 20px;
        }

        &:last-child{
          background: map-get($colors, red);
          margin-right: 10px;

          &:hover{background: darken(map-get($colors, red),3%);}
          &:focus{box-shadow: 0 0 0 0.2rem rgba(map-get($colors, red), .2) !important;}
          
          .ui-button-text{
            text-indent: -9999px;
            line-height: 0;
            &:after {
              content: "Não";
              text-indent: 0;
              display: block;
              line-height: initial;
            }
          }
        }
        &:first-child{
          background: map-get($colors, green);
          margin-right: 0;

          &:hover{background: darken(map-get($colors, green),3%);}
          &:focus{box-shadow: 0 0 0 0.2rem rgba(map-get($colors, green), .2) !important;}

          .ui-button-text{
            text-indent: -9999px;
            line-height: 0;
            &:after {
              content: "Sim";
              text-indent: 0;
              display: block;
              line-height: initial;
            }
          }
        }
      }
        
    }
  }
}

// Content
p-confirmDialog .ui-confirmdialog,
.modal .modal-content{
  background: #fff;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

// Header
p-confirmDialog .ui-dialog-titlebar,
.modal .modal-header{
  height: 35px;
  background: map-get($colors, default);
  border-radius: 10px 10px 0 0;
  padding: 7px 10px;
  font-weight: bold;
  color: #fff;
  border: none !important;
}
// Header btn X close
p-confirmDialog .ui-dialog-titlebar a,
.modal .modal-header button{ //close
  color: #fff;
  opacity: .3;
  &:hover{opacity: .5;}
}
  // X :Before
  .modal .modal-header .close{
    padding: 0;
    margin: 0;
    line-height: 13px;
    margin-top: 3px;

    &> span{
      color: transparent;
      text-shadow: none;
      position: relative;

      &:before{
        @extend %icon-fa;
        font-weight: 900;
        content: "\f00d";
        color: #fff !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

// Title
.modal .modal-header h5{
  font-size: 14px;
  font-weight: 700;
}

// Footer
p-confirmDialog .ui-dialog-footer,
.modal .modal-footer{
  background: map-get($colors, _lggray);
  padding: 4px;
  border-radius: 0 0 10px 10px;
}



















/* #######################################
            Spinner / Loader
########################################*/
.nofixed{ // remove a posicao fixed
  position: relative !important;
}
.spinnerCenter{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  p-progressSpinner{
    .ui-progress-spinner{
      width: 50px;
      height: 50px;
      background: rgba(map-get($colors, default),.1);
      border-radius: 50px;
      .ui-progress-spinner-svg{
          
        .ui-progress-spinner-circle{
          stroke: map-get($colors, default);
          fill: transparent !important;
          stroke-width: 4px;
          // cancelar animação default
          animation: ui-progress-spinner-dash 1s ease-in-out infinite,
          ui-progress-spinner-color2 0s ease-in-out infinite !important;  
        }
      }
    }
  }
}
// animação apena para cancelar a default (fica trocando de cor)
@keyframes ui-progress-spinner-color2 {0%,100%{}}




/* #######################################
        Icons PrimeNG => FontAwesome
########################################*/
.pi{
  @extend %icon-fa;
}
.pi-check:before{content: "\f00c";font-weight: 900;}
.pi-times:before{content: "\f00d";font-weight: 900;}
.pi-info-circle:before{content: "\f05a";font-weight: 900;}
.pi-exclamation-triangle:before{content: "\f071";font-weight: 900;}