.navheader {
  background: map-get($colors, default);
  position: relative;
  padding-bottom: 30px;




  .row:first-child {
    > div {
      height: 60px;
      &:first-child > * {
        float: left;
      }
      &:last-child > * {
        float: right;
      }
    }
    * {
      color: #fff !important;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -40px;
      height: 40px;
      background: map-get($colors, default);
    }

    
    >div>a, >div>i{
      height: 30px !important;
      width: 30px !important;
    }

    >div>span,
    i.fas.d-block.d-sm-none{
      cursor: default !important;
      pointer-events: none !important;
    }

    i.fas.d-block.d-sm-none{
      line-height: 29px;
    }
      
    
    >div>a, >div>i,
    >div>span, & > button {
      &.d-block.d-sm-none{
        text-align: center;
        i{
          position: relative;
          top: 2px;
        }
      }

      &.a-block{
        width: auto !important;
        max-width: 100%;

        &.nameEmpresa{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
          line-height: 28px;
          padding: 0 7px 0 5px;
          font-size: 14px;
          text-align: left;

          >i{margin-right: 5px;}
        }
      }

      cursor: pointer;
      background: map-get($colors, default);
      opacity: .5;
      font-size: 16px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      text-decoration: none !important;
      transition: all .4s ease;
      &:hover {
        opacity: 1;
        background: lighten(map-get($colors, default), 2);
      }
    }

    .title {
      font-size: 22px;
      font-weight: 100;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .folder-back{
        top: 8px;
        right: 7px;
      }
    }
  }

  + div {
    position: relative;
  }

  .selectEmpresa {
    width: 100% !important;
    border-radius: 10px !important;
    background: transparent;
    transform: none !important;
    border: none !important;

    &:hover,&:focus,
    &:active,&.dropdown-toggle{
      background: lighten(map-get($colors, default), 2) !important;
    }
  
  }
}
