@import '../../../assets/scss/variables';


.active,.active:hover{
  background: map-get($colors, default);
  pointer-events: none;
}
.preselect,.preselect:hover{
  color: map-get($colors, default) !important;
  background: map-get($colors, _lggray);
}
