
<!-- <button *ngIf="global.callSenior == false" type="button" (click)="showVariables()" class="btn btn-_warn"
style="position: fixed; top: 20px; right: 45px; z-index: 999999;">showVariables()</button> -->


<div class="container-fluid navheader">
  <div class="row bg-default">
    <div class="col-2 text-left">
      <a routerLink="/origens"><i class="fas fa-home"></i></a>
    </div>
    <div class="col-8 text-center title">Origens</div>
    <div class="col-2 text-right">
      <a class="a-block nameEmpresa d-none d-sm-block" (click)="empresaComponent.escolherEmpresa()"><i class="fas fa-building"></i> {{api.getCurrentNameEmpresa()}}</a>
      <a class="d-block d-sm-none" (click)="empresaComponent.escolherEmpresa()"><i class="fas fa-building"></i></a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- <div class="spinnerCenter" 
    [hidden]="api.objCtrl.empresaSelect.id != 0 || api.objCtrl.empresaSelect.id > 0 && listOrigens.length > 0"
    >
      <button type="button" (click)="escolherEmpresa()" class="btn btn-red">Selecione uma empresa</button>
    </div> -->
    <div class="spinnerCenter" [hidden]="api.objCtrl.empresaSelect.id == 0 || api.objCtrl.empresaSelect.id > 0 && listOrigens.length > 0 || loader==false ">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
    </div>

    <div class="col-sm-6 offset-sm-3" *ngIf="loader==false">
      <div class="card noregisters">
        <div class="card-body">
          <h1 class="display-4">Sem registros</h1>
        </div>
      </div>
    </div>

    <!-- repeat for -->
    <div class="col-sm-4 col-md-3 col-lg-2" [hidden]="listOrigens.length <= 0" *ngFor="let origens of listOrigens">
      <div class="card">
        <a routerLink="/{{origens.route}}">
          <div class="card-body">
            <p class="title-center">{{ origens.name }}</p>
          </div>
        </a>
      </div>
    </div>
    <!-- end repeat for -->

    <!--
    <div class="col-12" *ngIf="global.callSenior == false">
      <div class="card">
        <h5 class="card-header">Cadastros</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-6"><button type="button" class="btn btn-primary btn-block btn-lg" routerLink="/cadastro/perfil">Perfil</button></div>
            <div class="col-6"><button type="button" class="btn btn-secondary btn-block btn-lg" routerLink="/cadastro/relacionamento">Relacionamento</button></div>
          </div>
        </div>
      </div>
    </div>
  -->

  </div>
</div>




<app-seleciona-empresa #empresaComponent></app-seleciona-empresa>