<!--
<button *ngIf="global.callSenior == false" type="button" (click)="showVariables()" class="btn btn-_warn"
style="position: fixed; top: 20px; right: 45px; z-index: 999999;">showVariables()</button>
-->

<div class="container-fluid navheader">
	<div class="row bg-default">
		<div class="col-2 text-left">
			<a routerLink="/origens"><i class="fas fa-home"></i></a>
		</div>
		<div class="col-8 text-center title">
			Menu Op's
		</div>
		<div class="col-2 text-right">
      <span class="a-block nameEmpresa d-none d-sm-block"><i class="fas fa-building"></i> {{api.getCurrentNameEmpresa()}}</span>
      <i class="fas fa-building d-block d-sm-none"></i>
		</div>
	</div>
</div>

<div class="container-fluid list-ops">
	<div class="row">

    <div class="spinnerCenter" [hidden]="listOps.length > 0 || loader==false">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
    </div>

    <div class="col-sm-6 offset-sm-3" *ngIf="loader==false">
      <div class="card noregisters">
        <div class="card-body">
          <h1 class="display-4">Sem registros</h1>
        </div>
      </div>
    </div>


		<!-- repeat for -->
		<div class="col-sm-4 col-md-3" [hidden]="listOps.length <= 0" *ngFor="let ops of listOps" (click)="selecionaOp(ops.index)">
			<div class="card">
				<a>
				<!-- <a routerLink="{{ops.router}}"> -->
					<div class="card-body">

						<!-- Status/Date -->
						<div class="statusdate">
							<div class="row">
								<div class="col-4 status">
									<i *ngIf="ops.status == 'L'" class="fas fa-play-circle text-_gray"></i>
									<i *ngIf="ops.status == 'A'" class="fas fa-circle rec"></i>
									<i *ngIf="ops.status == 3" class="fas fa-check-circle text-green"></i>
								</div>
								<div class="col-8 date">{{ops.id}} - {{ops.date}}</div>
							</div>
						</div>
						<!-- END Status/Date -->

            <p class="title-center">{{ops.name}}</p>
            <!-- <small>B000010102</small> -->

						<!-- Counts -->
						<div class="row counts">
							<div class="col-4">
								{{ops.restante}}
								<span class="text-green">Resta</span>
							</div>
							<div class="col-4">
									{{ops.feito}}
									<span class="text-red">Feito</span>
							</div>
							<div class="col-4">
									{{ops.total}}
									<span class="text-_dkgray">Total</span>
							</div>
						</div>
                        <!-- END Counts -->
                        
                        <div class="barprogress">
                            <div class="prog" [ngStyle]="{'width': ops.percent+'%'}"></div>
                        </div>

					</div>
				</a>
			</div>
		</div>
		<!-- end repeat for -->
	</div>
</div>