@import '../../../assets/scss/variables';
.list-ops{
    
    .card-body:hover {
        cursor: pointer    
    }

    .card-body{
        position: relative;
        padding-bottom: 15px !important;  

        // Status / Date
        .statusdate{
            // padding: 5px 10px 0;

            .status{
                .rec{
                    position: relative;
                    color: map-get($colors, red );
                    animation: flash;
                    animation-iteration-count: infinite;
                    animation-duration: 1.5s;
                    &:before{
                        position: relative;
                        z-index: 1;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 50px;
                        background: map-get($colors, red );
                        animation: focus;
                        animation-iteration-count: infinite;
                        animation-duration: 1.5s;
                        animation-timing-function: ease-in-out;
                    }
                }
            }
            .date{
                color: map-get($colors, _dkgray);
                font-size: 10px;
                text-align: right;
                font-weight: 600;
            }
        }

        //fix height
        .title-center{
          line-height: 17px !important;
          height: 50px;
          color: #4150f3;
          display: block;
          display: -webkit-box;
          text-overflow: ellipsis;
          text-align: left;
          margin: 8px 0 4px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          word-break: normal;
          white-space: normal;

          &+small{
            color: map-get($colors, _dkgray);
          }
        }

        //counters
        .counts{
            color: #000;
            font-size: 12px;
            text-align: center;
            span{
                display: block;
            }
            div[class*="col-"]{
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        
        .barprogress{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: map-get($colors, _gray);
            border-radius: 0 0 10px 10px;
            overflow: hidden;

            .prog{
                background: map-get($colors, default);
                height: 10px;
                max-width: 100%;
                min-width: 0px;
            }
        }
    }
}