@import '../assets/scss/variables';

.environment{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: map-get($colors, red);
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
    opacity: .8;
}