<div class="environment" *ngIf="global.callSenior == false">DESENVOLVIMENTO</div>
<!-- PrimeNG -->

<!-- Confirm dialog -->
<p-confirmDialog></p-confirmDialog>

<!-- toast's -->
<p-toast (click)="global.closeToast($event)" key="top-right"      position="top-right"></p-toast>
<p-toast (click)="global.closeToast($event)" key="top-left"       position="top-left"></p-toast>
<p-toast (click)="global.closeToast($event)" key="bottom-right"   position="bottom-right"></p-toast>
<p-toast (click)="global.closeToast($event)" key="bottom-left"    position="bottom-left"></p-toast>
<p-toast (click)="global.closeToast($event)" key="top-center"     position="top-center"></p-toast>
<p-toast (click)="global.closeToast($event)" key="bottom-center"  position="bottom-center"></p-toast>
<p-toast (click)="global.closeToast($event)" key="center"         position="center"></p-toast>

<!-- rotas -->
<router-outlet></router-outlet>


<div class="spinnerCenter" *ngIf="connectSenior === false">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</div>