<!-- <button *ngIf="global.callSenior == false" type="button" (click)="showVariables()" class="btn btn-_warn"
style="position: fixed; top: 20px; right: 20px; z-index: 999999;">showVariables()</button> -->

<div class="container-fluid navheader">
	<div class="row bg-default">
		<div class="col-2 text-left">
			<a routerLink="/origens"><i class="fas fa-home"></i></a>
		</div>
		<div class="col-8 text-center title">
			Apontamento Individual
		</div>
		<div class="col-2 text-right">
      <span class="a-block nameEmpresa d-none d-sm-block"><i class="fas fa-building"></i> {{api.getCurrentNameEmpresa()}}</span>
      <i class="fas fa-building d-block d-sm-none"></i>
		</div>
    </div>
        
    <div class="row filter">
        
        <div class="col-sm-6 col-md-3">
            <div class="bloked">
                <span class="desc">OP</span>
                <span class="data">{{objCtrl.model.op}}</span>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <div class="bloked">
                <span class="desc">Bloco</span>
                <span class="data">{{objCtrl.model.bloco}}</span>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-3">
            <div class="select">
                <span class="desc">Lote</span>
                <div class="data">
                    <select class="form-control" [(ngModel)]="objCtrl.currentLote"
                    [disabled]="objCtrl.boxDefeito"
                    (ngModelChange)="changeCurrentLote($event)">
                        <option value="0" disabled>Selecionar</option>
                        <option *ngFor="let naoApontado of objCtrl.listNaoApontado;" value="{{naoApontado.id}}">{{this.global.addZeroBefore(3,naoApontado.id)}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="prevLote()" [disabled]="objCtrl.boxDefeito"><i class="fas fa-angle-left"></i></button>
            <button type="button" class="btn btn-secondary" (click)="nextLote()" [disabled]="objCtrl.boxDefeito"><i class="fas fa-angle-right"></i></button>
          </div>
        </div>


    </div>

</div>

<div class="container-fluid">
    <div class="card card-full">

        <div class="row" *ngIf="objCtrl.currentLote != 0">
            <div class="col-sm-4">
                <div class="form-group">
                  <label for="comprimento">Comprimento</label>
                  <input class="form-control" id="comprimento"
                  [disabled]="objCtrl.boxDefeito"
                  currencyMask [(ngModel)]="objCtrl.currentLoteObj.comprimento" maxlength="10"
                  [options]="{prefix:'', suffix:' m', thousands:' ', decimal:',', allowZero: false, precision:2}"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  <label for="largura">Largura</label>
                  <input class="form-control" id="comprimento"
                  [disabled]="objCtrl.boxDefeito"
                  currencyMask [(ngModel)]="objCtrl.currentLoteObj.largura" maxlength="10"
                  [options]="{prefix:'',suffix:' m',thousands:' ', decimal:',', allowZero: false, precision:2}"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="qualidade">Qualidade</label>
                    <select class="form-control" id="qualidade" 
                    [disabled]="objCtrl.boxDefeito"
                    [(ngModel)]="objCtrl.currentLoteObj.qualidade">
                        <option value="0" disabled>Selecionar</option>
                        <option *ngFor="let qualidade of objCtrl.currentQualidade" value="{{qualidade.codigoQualidade}}">{{qualidade.codigoQualidade}} - {{qualidade.descricao}}</option>
                    </select>
                </div>
            </div>
        </div><!-- row -->
        <div class="text-right mb-3" *ngIf="objCtrl.currentLote != 0">
          <button type="button" (click)="defeito()" [disabled]="objCtrl.boxDefeito || esperarApontamento"
          class="btn btn-red">Defeito</button>

          <button type="button" (click)="apontar()" [disabled]="objCtrl.boxDefeito || esperarApontamento"
          class="btn btn-green">Apontar</button>
        </div>

        <div class="spinnerCenter" [hidden]="!esperarApontamento">
          <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </div>

        <p-scrollPanel class="viewlist" [style]="{width: '100%', height: '100%'}" [hidden]="esperarApontamento">
            <div class="row mainlist">
                <div class="col-sm-4 col-md-3 col-lg-2" *ngFor="let list of objCtrl.listLote;">
                    <span [ngClass]="{'naoapontado': list.status==1, 'perfeito': list.status==2, 'defeito': list.status==3}">                        
                        <i class="far fa-square" *ngIf="list.status==1"></i>
                        <i class="fas fa-check-square" *ngIf="list.status==2 || list.status==3"></i>
                        {{list.name}}
                    </span>
                </div>
            </div>
        </p-scrollPanel>

    </div><!--card card-full-->


    <div class="card card-full" *ngIf="objCtrl.boxDefeito" [hidden]="esperarApontamento">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">

          <div class="square-box">
            <div class="chapa">
              <div class="row-grid">
                <div (click)="addQuadranteDefeito(1)" [ngClass]="{'active': objCtrl.quadranteSelect == 1}">
                  1 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[1-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[1-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(2)" [ngClass]="{'active': objCtrl.quadranteSelect == 2}">
                  2 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[2-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[2-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(3)" [ngClass]="{'active': objCtrl.quadranteSelect == 3}">
                  3 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[3-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[3-1].qtdDefeito}}
                  </span>
                </div>
              </div>

              <div class="row-grid">
                <div (click)="addQuadranteDefeito(4)" [ngClass]="{'active': objCtrl.quadranteSelect == 4}">
                  4 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[4-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[4-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(5)" [ngClass]="{'active': objCtrl.quadranteSelect == 5}">
                  5 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[5-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[5-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(6)" [ngClass]="{'active': objCtrl.quadranteSelect == 6}">
                  6 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[6-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[6-1].qtdDefeito}}
                  </span>
                </div>
              </div>

              <div class="row-grid">
                <div (click)="addQuadranteDefeito(7)" [ngClass]="{'active': objCtrl.quadranteSelect == 7}">
                  7 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[7-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[7-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(8)" [ngClass]="{'active': objCtrl.quadranteSelect == 8}">
                  8 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[8-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[8-1].qtdDefeito}}
                  </span>
                </div>
                <div (click)="addQuadranteDefeito(9)" [ngClass]="{'active': objCtrl.quadranteSelect == 9}">
                  9 
                  <span class="badge badge-default" [hidden]="objCtrl.viewQuadrante[9-1].qtdDefeito==0">
                    {{objCtrl.viewQuadrante[9-1].qtdDefeito}}
                  </span>
                </div>
              </div>

            </div>
          </div>

        </div>
            

        <div class="col-md-6 col-lg-8" *ngIf="objCtrl.quadranteSelect != null">
          <div class="row">

            <div class=" col-12 mb-4">
              <div class="spinnerCenter nofixed" [hidden]="api.listDefeitos.length > 0">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
              </div>
            </div>
            
            <div class=" col-6 col-md-4 col-lg-3 mb-4" *ngFor="let defts of this.objCtrl.currentQuadrante.defeitos">
              <div class="custom-control custom-checkbox custom-checkbox-default">
                <input type="checkbox" class="custom-control-input" id="def-{{defts.id}}"
                [checked]="defts.check == true"

                (click)="checkDefeito(defts.id)">
                <label class="custom-control-label" for="def-{{defts.id}}">{{defts.name}}</label>
                <div class="actived"></div>
              </div>
            </div>
            
            <div class="col-12 text-right" [hidden]="objCtrl.viewQuadrante[objCtrl.quadranteSelect-1].qtdDefeito==0">
              <button type="button" class="btn btn-red" (click)="delAllDefeitos();">Excluir defeito(s) do <b>quadrante {{objCtrl.quadranteSelect}}</b></button>
            </div>
          </div>

        </div>
      </div><!--row-->

      <div class="end-btns">
        <hr>
        <button type="button" (click)="cancelApontamento()" class="btn btn-red">Cancelar</button>
        <button type="button" (click)="registraApontamento()" class="btn btn-green">Registrar</button>
      </div>

    </div><!--card card-full-->

</div>