@import '../../../assets/scss/variables';

.chapa{
  background-image: url('../../../assets/img/1.jpg');
  background-size: 98% 98%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  .row-grid{
    flex: 5;
    display: flex;
    flex-direction: row;
    > div{
      background: rgba(map-get($colors,red),.1);
      border: 1px solid map-get($colors,red);
      color: #fff;
      text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
    
      flex: 4;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-flow: column wrap;


      .badge{
        text-shadow: none !important;
        position: absolute;
        top: 3px;
        right: 4px;
        color: #fff;
        font-weight: 400;
      }

      &:hover{
        background: rgba(map-get($colors,red),.3);
      }
      &.active{
        background: rgba(map-get($colors,red),.6);
        color: #fff;
        position: relative;
        &:before{
          position: absolute;
          content: 'Selecionado';
          top: 50%;
          left: 50%;
          transform: translate(-50% , 50%);
          font-size: 12px;
          font-weight: 100;
          width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          white-space: pre;
        }
      }

    }

    &:first-child{
      > div:first-child{
        border-bottom:none !important;
        border-radius: 10px 0 0 0;
      }
      > div:last-child{
        border-bottom:none !important;
        border-radius: 0 10px 0 0;
      }
      > div:nth-child(2){
        border-bottom:none !important;
        border-left:none !important;
        border-right:none !important;
      }
    }
    &:last-child{
      > div:first-child{
        border-top:none !important;
        border-radius: 0 0 0 10px;
      }
      > div:last-child{
        border-top:none !important;
        border-radius: 0 0 10px 0;
      }
      > div:nth-child(2){
        border-top:none !important;
        border-left:none !important;
        border-right:none !important;
      }
    }
    &:nth-child(2){
      > div:nth-child(2){
        border-left:none !important;
        border-right:none !important;
      } 
    }
  }
 
}