
<!-- <button *ngIf="global.callSenior == false" type="button" (click)="showVariables()" class="btn btn-_warn"
style="position: fixed; top: 20px; right: 20px; z-index: 999999;">showVariables()</button> -->

<div class="container-fluid navheader">
	<div class="row bg-default">
		<div class="col-2 text-left">
			<a routerLink="/origens"><i class="fas fa-home"></i></a>
		</div>
		<div class="col-8 text-center title">
			Apontamento Agrupado
		</div>
		<div class="col-2 text-right">
      <span class="a-block nameEmpresa d-none d-sm-block"><i class="fas fa-building"></i> {{api.getCurrentNameEmpresa()}}</span>
      <i class="fas fa-building d-block d-sm-none"></i>
		</div>
    </div>
    
    <div class="row filter">
        <!-- desabilita na visao mobile e tablet -->
        <div class="col-sm-6 col-md-4 d-none d-sm-none d-md-block d-lg-none d-xl-none">
            <div class="bloked">
                <span class="desc">OP | Bloco</span>
                <span class="data">{{objCtrl.model.op}} | {{objCtrl.model.bloco}}</span>
            </div>
        </div>
        <!-- habilita na visao mobile e tablet -->
        <div class="col-sm-6 col-md-2 d-block d-sm-block d-md-none d-lg-block d-xl-block">
            <div class="bloked">
                <span class="desc">OP</span>
                <span class="data">{{objCtrl.model.op}}</span>
            </div>
        </div>
        <!-- habilita na visao mobile e tablet -->
        <div class="col-sm-6 col-md-2 d-block d-sm-block d-md-none d-lg-block d-xl-block">
            <div class="bloked">
                <span class="desc">Bloco</span>
                <span class="data">{{objCtrl.model.bloco}}</span>
            </div>
        </div>

            
        <div class="col-sm-6 col-md-4" style="margin-bottom:6px" *ngIf="visaoMobile">
            <button type="button" 
                    (click)="apontarInicioFim('inicio')"
                    class="btn btn-green btn-block"
                    [disabled]="apontamentoIniciado">
                Inicio
            </button>
        </div>
        
        <div class="col-sm-6 col-md-4" *ngIf="visaoMobile">
            <button type="button" 
                    (click)="apontarInicioFim('fim')" 
                    class="btn btn-red btn-block"
                    [disabled]="!apontamentoIniciado">
                Fim
            </button>
        </div>


        <div class="col-sm-6 col-md-4" *ngIf="!visaoMobile">
            <div class="ipt-date">
                <span class="desc">Início</span>
                <div class="form-group">
                    <div class="input-group">
                        <p-calendar [(ngModel)]="objCtrl.model.dtini" [showTime]="true" 
                        dateFormat="dd/mm/y" [showIcon]="true" [locale]="ptBR"
                        placeholder="Selecionar" required (ngModelChange)="checkDtFim($event)"
                        ></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4" *ngIf="!visaoMobile">
            <div class="ipt-date">
                <span class="desc">Fim</span>
                <div class="form-group">
                    <div class="input-group">
                        <p-calendar [(ngModel)]="objCtrl.model.dtfim" [showTime]="true" 
                        dateFormat="dd/mm/y" [showIcon]="true" [locale]="ptBR"
                        placeholder="Selecionar" required 
                        [disabled]="objCtrl.model.dtini == null" [minDate]="objCtrl.model.dtini"
                        ></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        


    </div>

</div>



<div class="container-fluid">
    <div class="card card-full">
      
        <div class="row" *ngIf="objCtrl.camposApontamento">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="de">Lote</label>
                    <select class="form-control" id="de" required 
                    [disabled]="objCtrl.showSelect"
                    [(ngModel)]="objCtrl.model.lotede" (ngModelChange)="changeloteate($event)">
                        <option value="0" disabled>Selecionar</option>
                        <option *ngFor="let lote of objCtrl.listLote;" value="{{lote.id}}">{{this.global.addZeroBefore(3,lote.id)}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="ate">até</label>
                    <select class="form-control" id="ate" required
                    [disabled]="objCtrl.model.lotede == null || objCtrl.showSelect"
                    [(ngModel)]="objCtrl.model.loteate">
                        <option value="0" disabled>Selecionar</option>
                        <option *ngFor="let loteate of objCtrl.listLoteate;" value="{{loteate.id}}">{{this.global.addZeroBefore(3,loteate.id)}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="d-none d-sm-block">&nbsp;</label>
                    <button type="button" [disabled]="objCtrl.showSelect" class="btn btn-green btn-block" 
                    (click)="apontar()">Apontar</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="d-none d-sm-block">&nbsp;</label>
                    <button type="button" [disabled]="objCtrl.showSelect" class="btn btn-default btn-block"
                    (click)="apontarTudo()">Apontar Tudo</button>
                </div>
            </div>
        </div><!-- row -->

        <div class="spinnerCenter" [hidden]="!esperarApontamento">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </div>


        <p-scrollPanel class="viewlist" [style]="{width: '100%', height: '100%'}" [hidden]="esperarApontamento">
            <div class="row mainlist">
                <div class="col-sm-4 col-md-3 col-lg-2" *ngFor="let list of objCtrl.listLote;">
                    <span [ngClass]="{'naoapontado': list.status==1, 'perfeito': list.status==2, 'defeito': list.status==3}">                        
                        <i class="far fa-square" *ngIf="list.status==1"></i>
                        <i class="fas fa-check-square" *ngIf="list.status==2 || list.status==3"></i>
                        {{list.name}}
                    </span>
                </div>
            </div>
        </p-scrollPanel>

    </div><!--card card-full-->



    <div class="card card-full" *ngIf="objCtrl.showSelect" [hidden]="esperarApontamento">
        <div class="row">
            <div class="col-sm-6 perfeitos">
                <h5 class="text-default">Perfeito</h5>
                <div class="content-color">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let itensSelec of objCtrl.listSelected" [hidden]="!itensSelec.perfect">
                            <div class="btn-group picklist" role="group">
                                <button type="button" class="btn btn-_gray" (click)="removelist(itensSelec)"><i class="fas fa-times"></i></button>
                                <button class="btn btn-_lggray btn-block text">{{itensSelec.name}}</button>
                                <button type="button" class="btn btn-red" (click)="moveTo('defeito',itensSelec)"><i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="col-12 d-block d-sm-none"><hr/></div>

            <div class="col-sm-6 defeitos">
                <h5 class="text-red">Defeito</h5>
                <div class="content-color">
                    <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let itensSelec of objCtrl.listSelected" [hidden]="itensSelec.perfect" >
                            <div class="btn-group picklist" role="group">
                                <button type="button" class="btn" [ngClass]="{'btn-red': itensSelec.defeito == null, 'btn-green': itensSelec.defeito != null}" (click)="moveTo('perfeito',itensSelec)"><i class="fas fa-angle-left"></i></button>
                                <button class="btn btn-block text" [ngClass]="{'btn-red': itensSelec.defeito == null, 'btn-green': itensSelec.defeito != null}">{{itensSelec.name}}</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop" type="button" [ngClass]="{'btn-red': itensSelec.defeito == null, 'btn-green': itensSelec.defeito != null}" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
                                        <a *ngFor="let def of objCtrl.listOptDefeitos[0]" class="dropdown-item" [ngClass]="{'active': itensSelec.defeito == def.id}" (click)="setDefeito(itensSelec,def.id)">{{def.id}} - {{def.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--row-->

        <div class="end-btns">
            <button type="button" (click)="cancelApontamento()" class="btn btn-red">Cancelar</button>
            <button type="button" (click)="registraApontamento()" class="btn btn-green">Registrar</button>
        </div>

    </div><!--card card-full-->

</div>