<!-- <button *ngIf="global.callSenior == false" type="button" (click)="showVariables()" class="btn btn-_warn"
style="position: fixed; top: 20px; right: 20px; z-index: 999999;">showVariables()</button> -->

<div class="container-fluid navheader">
	<div class="row bg-default">
		<div class="col-2 text-left">
			<a routerLink="/origens"><i class="fas fa-home"></i></a>
		</div>
		<div class="col-8 text-center title">
			<span class="folder-back">Cadastro /</span> Usuário x Perfil
		</div>
		<div class="col-2 text-right">
      <a class="a-block nameEmpresa d-none d-sm-block" (click)="empresaComponent.escolherEmpresa()"><i class="fas fa-building"></i> {{api.getCurrentNameEmpresa()}}</a>
      <a class="d-block d-sm-none" (click)="empresaComponent.escolherEmpresa()"><i class="fas fa-building"></i></a>
    </div>
	</div>
</div>



<div class="container-fluid" *ngIf="api.objCtrl.empresaSelect.id != 0">
  <div class="card card-full">

    <div class="row">
      <div class="col-sm-6">
      <div class="form-group">
        <label for="pefil">Usuário</label>
        <select class="form-control" id="usuario" required 
        [(ngModel)]="objCtrl.model.usuario" (ngModelChange)="changeusuario($event)">
          <option value="0" selected disabled>Selecionar</option>
          <option *ngFor="let usuario of objCtrl.usuario;" value="{{usuario.id}}">{{usuario.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="objCtrl.model.usuario > 0">
      <div class="form-group">
        <label for="origens">Perfil</label>
        <div class="table-responsive" [hidden]="objCtrl.model.usuario == 0">
          <table class="table v-middle table-striped">
            <tr>
              <th class="text-center">ID</th>
              <th>Nome</th>
              <th class="text-center">Ativo</th>
            </tr>
            <tr *ngFor="let lstOri of objCtrl.usuario[objCtrl.model.usuario-1].perfis">
              <td class="text-center"><b>{{lstOri.id}}</b></td>
              <td>{{lstOri.name}}</td>
              
              <td class="text-center">
                <div class="custom-control custom-checkbox custom-checkbox-default no-text">
                  <input type="checkbox" class="custom-control-input" id="check-{{lstOri.id}}"
                  [checked]="lstOri.ativo == true" [(ngModel)]="lstOri.ativo">
                  <label class="custom-control-label" for="check-{{lstOri.id}}"></label>
                </div>
              </td>
            </tr>
          </table>
        </div>
        
        </div>
        <div class="end-btns">
          <button type="button" (click)="cancelar()" class="btn btn-red">Cancelar</button>
          <button type="button" (click)="salvar()" class="btn btn-green">Salvar</button>
        </div>
      </div>
    </div><!-- row -->

  </div><!--card card-full-->

</div>




<app-seleciona-empresa #empresaComponent></app-seleciona-empresa>