@import './assets/scss/variables';
@import './assets/scss/header.scss';
@import './assets/scss/elements.scss';
@import './assets/scss/fixPrimeng.scss';


body{background: map-get($colors, _lggray) !important;}
*{font-size: 14px;}

a{text-decoration: none !important;}

input:disabled,select:disabled,
textarea:disabled,button:disabled{cursor: not-allowed;}


// change highlight
::selection {
  background: rgba(lighten(map-get($colors, default),20%),.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(lighten(map-get($colors, default),20%),.5); /* Gecko Browsers */
}


/*  Remove shadows default of web browser  */
.checkbox input[type="checkbox"]:focus + label::before,
textarea:focus, input:focus,
select:focus, button:focus{
	box-shadow:none !important;
    outline:none !important;
}




input,select,textarea,button{
    border-radius: 10px !important;
}
.btn-group{
    >button{
        border-radius: 0px !important;
        &:first-child{border-radius: 10px 0 0 10px !important;}
        &:last-child{border-radius: 0 10px 10px 0 !important;}
    }
}



input:focus,select:focus,textarea:focus{
    border-color: lighten(map-get($colors, default), 20%) !important;
    box-shadow: 0 0 0 0.2rem rgba(map-get($colors, default), .2) !important;
}





// PrimeNG scrollBar
.ui-scrollpanel-bar{
    background: rgba(map-get($colors, _dkgray),.4) !important;
}



.end-btns{
    text-align: right;
}



.square-box{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  &:after{
    content: "";
    display: block;
    padding-top: 100%;
  }
}



table.v-middle td{
  vertical-align: middle !important;
}
table.table-striped{
  th{background-color: rgba(map-get($colors, default),.06);}

  tr:nth-of-type(odd) {
    background-color: rgba(map-get($colors, default),.04) !important;
  }
}






























// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .perfeitos{
    &:after{
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: calc(100% - 0px);
      left: auto;
      border-right: 1px solid map-get($colors, _gray);
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}